global
    maxconn 1024

defaults
    mode http
    timeout connect 2s
    timeout client 30s
    timeout server 30s
    option http-keep-alive

frontend counter_api
    bind :8080
    default_backend counter_replicas

backend counter_replicas
    balance roundrobin
    option httpchk GET /readyz
    http-check expect status 200
    default-server inter 1s fall 3 rise 2
    server api1 api1:8080 check
    server api2 api2:8080 check
    server api3 api3:8080 check
